[Unit]
Description=MSI CORELIQUID Quiet and Balanced cooling
After=lights-out.service power-profiles-daemon.service
Wants=power-profiles-daemon.service

[Service]
Type=simple
ExecStart=/home/ben/src/lights-out/lights-out/target/release/lights-out daemon
ExecStopPost=/home/ben/src/lights-out/lights-out/target/release/lights-out fan full
Restart=on-failure
RestartSec=2
RuntimeDirectory=lights-out
RuntimeDirectoryPreserve=restart

[Install]
WantedBy=multi-user.target
